body {
  background: rgb(0, 128, 43);
}

.box {
  background: rgb(255, 212, 128);
  margin: 0 auto;
  width: 600px;
  height: 500px;
  padding: 20px;
  border-radius: 70px;
  border: 10px solid rgba(179, 119, 0, .25);
  box-shadow: rgba(179, 119, 0, .25);

}

.box h1 {
  text-align: center;

}

.buttons {
  margin-top: 30px;
}

#btn1, #btn2, #btn3, #btn4 {
  background: rgb(255, 230, 179);
  width: 200px;
  font-size: 20px;
  border: 2px solid brown;
  border-radius: 50px;
  padding: 10px 10px;
}
#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
  background: rgb(0, 255, 0);
}
#btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus{
  outline: 0;
}
#progress {
  font-size: 15px;
}
