
body {
  background-image: url(http://i.imgur.com/r1nBBTD.jpg);
  background-size: cover;
}

#quizContainer {
    height: 400px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba (255, 255, 255, 0.5);
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 20px 10px #fff;

}

#title {
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: black;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 52px/1 "Audiowide", Helvetica, sans-serif;
  color: rgba(255,255,255,0.81);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/*#title::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  border: none;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: none;
}*/

.question {
  padding: 20px;
  font-size: 22px;
  background: black;
  opacity: .75;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: white;
  text-shadow: 0 0 8px 3px #fff;
  box-shadow: 0 0 8px 3px #fff;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 20px;
}

.option {
  width: 470px;
  opacity: .75;
  display: inline-block;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: silver;
  margin: 10px 0 10px 10px;
  color: black;
  border-radius: 20px;
  box-shadow: 0 0 8px 3px #fff;
  font-family: 'Orbitron', sans-serif;
}

.option:hover {
  background: grey;
  color: black;
}

.next-btn {
  border: none;
  outline: none;
  background: rgba (255, 255, 255, 0.5);
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.next-btn:hover {
  background: grey;
  color: black;
}
#result {
  height: 100px;
  text-align: center;
  font-size: 75px;

}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Orbitron', sans-serif;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
